:root {
  --main-color:black;
}
/* #1D1AB2 */
body {
  display: grid;

  grid-template-areas:
    "header header profile"
    "nav article ads"
    "footer footer footer";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  margin: 0 10px;
  grid-gap: 10px;
  height: 200vh;
  color: white;
  font-size: 2em;
  font-style: sans-serif;
  text-align: center;
}

header, div, nav, footer {

  padding: 20px;
  border-radius: 10px;

}

#siteHeader {
  grid-area: header;
  background-color: var(--main-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

#siteProfile {
  grid-area: profile;
  background-color: var(--main-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

#siteNav {
  grid-area: nav;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 5px;
}

#siteArticle {
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px,2fr));
  grid-gap: 10px;
}

#siteAds {
  grid-area: ads;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#siteFooter {
  grid-area: footer;
    border-radius: 10px 10px 0 0;
    background-color: var(--main-color);
}


.innerArticle {
  height: 200px;
  border: 2px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.innerArticle:hover {
  box-shadow: 0 0 0 4px white, 0 0 0 7px var(--main-color) ;
}

.innerNav {
  color: var(--main-color);
  margin: 3px;
  margin-bottom: 5px;
  font-size: 22px;
  padding: 15px;
  border-radius: 12px;
}

.innerNav:hover {
  box-shadow: 0 0 0 3px var(--main-color) inset, 0 0 0 10px white inset;
}
